
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 class="text-bg-danger">خطأ.</h1>
        <h2>حصل خطاء الرجاء التأكد من جميع المعلومات المدخلة</h2>
    </hgroup>
</body>
</html>
