<div class="modal fade" id="Report" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body rounded">
                <div class="text-center mb-3">
                    <img src="~/Content/IMG/IMG_6786.PNG" width="20%" height="30%" alt="" srcset="">
                </div>
                <form>
                    <label for="ProductCity" class="my-3">نوع البلاغ</label>
                    <select class="form-select rounded" id="ProductCity" name="ProductCity" required>
                        <option selected disabled>اختر</option>
                        <option>رسالة خاصة</option>
                        <option>اعلان</option>
                        <option>تعليق</option>
                    </select>
                    <label for="Description" class="my-3">وصف البلاغ</label>
                    <textarea class="form-control" id="Description" rows="4"></textarea>
                    <button type="submit" id="submit" name="submit" class="btn py-btn w-100 my-4">قدم البلاغ</button>
                </form>
            </div>
        </div>
    </div>
</div>

