
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutStatic.cshtml";
}

<main class="container mx-auto" style="margin-top: 9rem;">

    <section>
        <h1 class="text-center text-color-blue mb-3">من نحن؟</h1>
        <hr style="border: 2.4px solid  var(--Orange);">
        <P class=" fs-4">
            السادة زوار موقعنا الكرام بالبداية نود أن نشكركم لثقتكم العالية باختيار موقع <span style="color:   var(--Orange);">SwapYE</span> لكي يكون وجهتكم الدائمة من اجل عرض
            السلع واستبدالها بسلع غيرها او بيعها وخدمات الموقع.
            نحن نختص في عرض السلع سواء اكانت منقوله او غير منقوله من عقارات مركبات اثاث او حتى اي شيء من الممكن
            تداوله. وقد تم إطلاق
            هذا الموقع في عام 2023 لتوفير المزيد من سُبل ووسائل المواكبة والتطوّر في عمليات البيع والشراء فيما
            يتعلّق بكل ما هو جديد
            او مستعمل في عالم السلع والبضائع. وتم ابتكار خدمات جديدة تتيح للمشتركين تداول وبيع السلع من اي مكان
            يريدونه و بابسط
            الطرق واسلسها ونحن نسعى من اجلكم للحصول على افضل الخدمات والتطور في عمليات المبادلة للوصول الى اعلى
            مرابح واكثر عدد من
            المشاهدين لعروضكم المقدمة.
        </P>
        <hr style="border: 2.4px solid   var(--Orange);">
    </section>
    <section class="mb-5 mt-5">
        <h3 class=" text-color-blue">
            الخدمات المقدمة في موقع <span style="color:  var(--Orange);font-weight: bold;">
                SwapYE
            </span>:
        </h3>
        <ul class="fs-5 mt-2" style="list-style: circle;">
            <li>مقايضة وبيع او شراء كل ماتحتاجه.</li>
            <li>
                يساعد الزائر على اختيار وتبديل وشراء السلعه المناسبة له من حيث السعر والمواصفات عبر الموقع بأفضل
                الطرق
                الآمنة وأحدثها.
            </li>
            <li>يستطيع الزائر البحث داخل الموقع عن اي سلعة يريدها وفي اي مدينه يختارها والاقرب اليه.</li>
            <li>يستطيع الزائر التعرُّف على احدث العروض والخدمات بشكل كامل.</li>
            <li>توفير بيئة آمنه كليا لتبديل السلع او بيعها وشرائها.</li>
        </ul>
    </section>
</main>


